*.swp
.vscode/

build*/
deleted_files/
ignore_work_in_progress_files/

### Linux ###
*~
*.swp
*.ods#

# refer   https://www.toptal.com/developers/gitignore/api/macos,windows,linux,cmake,c++,c,visualstudiocode
